script(src='js/vendor/d3.min.js')
script.
  if(!window.Promise) {
    document.write('<script src="js/vendor/promise.min.js"><\/script><script src="js/vendor/assign.js"><\/script>');
  }
script(src='js/global.min.js')
