footer
  .footer
    p DataCoeur® est une philosophie et une méthodologie de l'agence FullSIX Paris.<br>Elle permet de comprendre la relation émotionnelle que les individus entretiennent avec les marques, les entreprises, les tendances et les sujets.
    .f6 Fullsix Paris
